.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  width: 200px; /* Adjust the width as needed */
}

.search-bar button {
  padding: 5px 10px;
  background-color: #53c28b;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}